
$primaryColor: #EC7253;
$secondaryColor: #5AB4A9;
$darkColor: #273940;
$LightDarkColor: #575d5f;
$backgroundColor: #F5F1ED;

$shadow: 0 1px 10px rgb(199, 199, 199);
$shadowHover: 0 4px 6px rgb(170, 170, 170);

$fontHeading: 'Poppins', sans-serif;

$container-max-width: 1240px;
$container-padding: 20px;
